@font-face {
  font-family: 'Source Sans Pro';
  src: url('./source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Source Sans Pro', sans-serif;
}

.container{

  position: relative;
  width: 1400px;
  height: 3006px;
  background: #FFFFFF;

}


header{
    
  position: absolute;
  width: 1000.39px;
  height: 32px;
  left: 200.61px;
  top: 27.76px;

}

header nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

ul{
    
  list-style: none;
  display: flex;
  gap: 20px;
  width: 255px;
  height: 15px;
  left: 946px;
  top: 37px;

}

li a{

  text-decoration: none;
  height: 15px;
  left: 40%;
  right: 37.65%;
  top: calc(50% - 15px/2);
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;

}

li a:hover,
li a:active {
  color: #FF6565;
}

/* responsiveness */
/* @media screen and (max-width: 480px)  {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }

  main section h1 {
    font-size: 22px;
  }

  button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  img {
      max-width: 100%;
      height: auto;
      display: block; 
  }

  .services,
  .stats {
    flex-direction: column;
    align-items: center;
  }

  form input,
  form textarea {
    font-size: 16px; */
  /* }
} */



